@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1: #f9f4f4;
    --color2: #d60000;
}
html{
     scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background: var(--color1);
    color: #333;
    margin: 0;
    font-family: Inter Tight;
}
#logo{
    position: absolute;
    width: 140px;
    top: 10px;
    left: 20px;
}
header{
    display: flex;
    justify-content: center;
    background: #000;
}
header nav ul {
    display: flex;
    list-style-type: none;
}
#navegacaoMain{
    padding-bottom: 30px;
    padding-top: 30px;
}
.menu{
    color: var(--color2);
    padding: 5px;
    font-size: 1.1rem;
}
.menu {
    color: var(--color2);
    font-size: 1.3rem;
    padding: 10px;
    text-decoration: none;
    transition: ease;
    font-family: var(--inter);
}

.menu:hover {
    text-shadow: 2px 3px 2px #464646;
}

.menu-header {
    transition: transform 0.3s ease;
    padding: 10px;
}

.menu-header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--color2);
}

.menu-header:hover::after {
    transition: width 0.5s ease;
    width: 100%;
}

.menu-header:hover {
    transform: scale(1.05);
    border-radius: 15%;
}
/* Estilo para o título principal */
.titulo1 {
    color: #000;
    margin-bottom: 30px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

/* Estilo para o campo de entrada e o label */
label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 15px;
    width: 250px; /* Ajuste para o seu tamanho original */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Estilo para os botões */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
    transition: background-color 0.3s ease;
}

#btnAdicionar {
    background-color: #28a745; /* Verde */
    color: white;
}
#btnAdicionar:hover {
    background-color: #218838;
}

#btnRemover {
    background-color: #dc3545; /* Vermelho */
    color: white;
}

#btnRemover:hover {
    background-color: #c82333;
}

/* Estilo para a área onde as tarefas serão listadas */
#lista {
    margin-top: 20px;
    padding: 15px;
    border: 1px dashed #007bff;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    min-height: 50px; /* Para mostrar a área mesmo que vazia */
}