@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1: #ffeded;
    --color2: #d60000;
    --color3: #ff1f1f;
}
html{
     scroll-behavior: smooth;
}
body {
    background: #f8f8f8;
    font-family: Inter Tight;
    color: #333;
}
#bodyTarefas{
    background: #f4f4f9;
}
#container{
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    position: relative;
    min-height: 100%;
}
.logo{
    position: absolute;
    width: 140px;
    top: 10px;
    left: 40px;
}
.cabecalho{
    display: flex;
    justify-content: center;
    background: #000;
    
}
#cabecalhoTarefas{
    box-shadow: inset 0 -30px 30px -25px rgb(255, 31, 31, 0.9);
}
header nav ul {
    display: flex;
    list-style-type: none;
}
.navegacaoMain{
    padding-bottom: 30px;
    padding-top: 30px;
}

.menu {
    color: var(--color1);
    font-size: 1.3rem;
    padding: 10px;
    text-decoration: none;
    transition: ease;
    font-family: var(--inter);
}

.menu:hover {
    text-shadow: 2px 3px 2px #464646;
}

.menu-header {
    transition: transform 0.3s ease;
    padding: 10px;
}

.menu-header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--color2);
}

.menu-header:hover::after {
    transition: width 0.5s ease;
    width: 100%;
}

.menu-header:hover {
    transform: scale(1.05);
    border-radius: 15%;
}
.banner {
    background-size: cover;
    height: 400px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 30px rgb(255, 31, 31, 0.9);
    z-index: 1;
    background-repeat: no-repeat; 
    transition: background-image 0.5s ease-in-out;
}
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
#banner-conteudo{
    color: #fff;
    z-index: 3;
    text-align: center;
    font-family: var(--inter);
}
#banner-conteudo h2{
    padding-bottom: 10px;
    font-size: 2rem;
}
#banner-conteudo h3{
    font-size: 3rem;
    padding-bottom: 25px;
}



/* Estilo para o título principal */

#titulo-fantasias{
    text-align: center;
    color: var(--color2);
    padding: 75px;
    font-family: cursive;
    font-size: 2.5rem;
}
#fantasias{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-left: 80px;
    margin-right: 80px;
}

.card{
    width: 400px;
    height: 360px;
    background: #f8f8f8;
    box-shadow: 0 0 20px -3px rgba(128, 128, 128, 0.8);
    text-align: center;
    margin-bottom: 100px;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: scale(1.08);
}

.cardHr{
    position: relative;
    width: 95%;
    background: #c82333;
    height: 2px;
    border: none;
    margin: auto;
}

.cardNome{
    font-size: 1.1rem;
    position: relative;
    top: 17px;
    padding-left: 15px;
    padding-right: 15px;
}

.cardPreco{
    position: relative;
    top: 35px;
    color: red;
    margin-top: 5px;
    margin: auto;
    width: 150px;
    height: 28px;
    line-height: 28px;
    text-shadow: 0 0 40px #ff6969;
}
.cardDesc{
    position: relative;
    top: 45px;
    padding-left: 20px;
    padding-right: 20px;
}
.card img{
    width: 100%;
    height: 200px;
    position: relative;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

#sobre{
    background: var(--background);
    display: flex;
    font-family: var(--inter);
    padding-top: 10px;
    padding-bottom: 80px;
}
#titulo-sobre{
    text-align: center;
    margin: 0 auto;
    font-size: 2.7rem;
    color: var(--color2);
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 2px;
}
#sobre p{
    position: relative;
    font-size: 1.6rem;
    top: 150px;
    padding: 15px;
    margin-bottom: 300px;
    margin-left: 100px;
    margin-right: 100px;
}

span{
    animation: spanAnimation 2s linear infinite;
}

#rodape{
    background: #000;
    color: #fff;
    text-align: center;
    height: 120px;
    width: 100%;
    line-height: 120px;
    box-shadow: 0 0 40px var(--color3);
}

#rodapeTarefas{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000;
    color: #fff;
    text-align: center;
    height: 120px;
    line-height: 120px;
    box-shadow: 0 0 40px var(--color3);
}

@keyframes spanAnimation{
    0%{
        color: #c70000;
        
    }
    50%{
        color: #ff6c6c;
       
    }
    100%{
        color: #c70000;
        
    }
}

#username{
    width: 280px;
    margin: 0 auto;
}



/* Estilo para o campo de entrada e o label */

#titulo1{
    color: #000;
    margin-bottom: 30px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-top: 75px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 15px;
    width: 250px; /* Ajuste para o seu tamanho original */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Estilo para os botões */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 15px;
    transition: background-color 0.3s ease;
}

#btnAdicionar {
    background-color: #28a745; /* Verde */
    color: white;
}
#btnAdicionar:hover {
    background-color: #218838;
}

#btnRemover {
    background-color: #dc3545; /* Vermelho */
    color: white;
}

#btnRemover:hover {
    background-color: #c82333;
}

/* Estilo para a área onde as tarefas serão listadas */
#lista {
    margin-top: 20px;
    padding: 15px;
    border: 1px dashed #007bff;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    min-height: 50px; /* Para mostrar a área mesmo que vazia */
}

@media (width <= 1024px){
    .logo{
        width: 75px;
        top: 30px;
        left: 20px;
    }
    .menu{
        font-size: 1rem;
        padding: 0;
    }
    .navegacaoMain{
        margin-left: 20px;
    }
    #banner-conteudo h2{
        font-size: 1.4rem;
    }
    #banner-conteudo h3{
        font-size: 1.9rem;
    }
    #fantasias{
        align-items: center;
        grid-template-columns: 1fr;
        place-items: center;
        margin-left: 80px;
        margin-right: 80px;
    }
    .card{
        width: 300px;
    }
    #titulo-sobre{
        text-align: center;
    }
    #sobre p{
        text-align: justify;
        font-size: 1.3rem;
        margin-left: 30px;
        margin-right: 30px;
    }
}